<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Dyna-present ShellSort</title>
		<link rel="stylesheet" type="text/css" href="../../DynaStyle.css"> 
		<script type="text/javascript" src="../../Dynamic.js"></script>
		<script type="text/javascript" src="../../Guard.js"></script>
	</head>
	<body>
		<div id="dyna">
			<svg id="dynaMark" width="1000" height='50'>
				
			</svg>
			<svg id="dynaContent" width="1000" height="600">
				
			</svg>
		</div>
		<div>
			<article>
				实现希尔排序的动态演示，直接创建shell对象；之后，将待排序的元素通过putVal()接口添加；然后调用sort()接口，进行排序；最后通过present()接口，实现动态演示的调用。
				<pre>
	<code>
	shell.create(15); //创建最多含有8个元素的selection
	var num = [12, 5, 34, 1, 6, 23, 89, 37, 56, 80, 64, 72, 50, 99, 100];

	for (var i = 0; i < num.length; ++i) //添加元素
		shell.putVal(num[i]);

	shell.sort(); //调用排序接口
	shell.present(); //调用动态演示接口

	</code>
				</pre>
			</article>
		</div>
	</body>
	<script type="application/ecmascript" src="../../Sorting/shell.js"></script>
	<script type="text/javascript">
		shell.create(15);
		var num = [12, 5, 34, 1, 6, 23, 89, 37, 56, 80, 64, 72, 50, 99, 100];

		for (var i = 0; i < num.length; ++i)
			shell.putVal(num[i]);

		shell.sort();
		shell.present();
	</script>
</html>
